html,body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#header-wrapper{
    position: relative;
    padding: 0 20px;
    height: 45px;
    background: #222;
}

#aside-wrapper{
    position: absolute;
    left: 0px;
    top: 45px;
    bottom: 0px;
    width: 199px;
    padding-top: 10px;
    overflow: auto;
    background-color: rgba(238,238,238,0.98);
    _background-color: rgb(238,238,238);
    border-right: 1px solid #e5e5e5;
}
#aside-wrapper li{
    position: relative;
}
#aside-wrapper i{
    font-style: normal;
    font-family: FontAwesome, sans-serif;
    font-size: 14px;
    color: #a0a7b1;
    line-height: 35px;
}
#aside-wrapper .menu_dropdown-arrow{
    float: right;
    margin-right: 30px;
}
#aside-wrapper a{
    font-size: 14px;
}
#aside-wrapper .aside-wrapper-a{
    line-height: 35px;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
}
#aside-wrapper .aside-wrapper-a:hover{
    color: #148cf1;
}
#aside-wrapper li ul{
    display: none;
}


#section-wrapper{
    position: absolute;
    top: 45px;
    left: 200px;
    right: 0px;
    bottom: 0px;
    background-color: #fff;
}
#section-wrapper .section-nav-box{
    position: relative;
    padding: 0 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    line-height: 39px;
    height: 39px;
    overflow: hidden;
    font-size: 14px;
}
#section-wrapper .section-nav-box a{
    padding: 0 5px;
}
.maincolor{
    color: #06c;;
}
.maincolor:hover{
    text-decoration: underline;
}
#section-wrapper #main{
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    overflow: auto;
}
#header-wrapper{

}
#header-wrapper a{
    font-size: 14px;
    line-height: 45px;
    color: white;
}
#header-wrapper i{
    text-indent: 5px;
    color: white;
}
#Hui-userbar{
    float: right;
}
#Hui-userbar .one-ul li{
    position: relative;
    float: left;
    padding: 0 10px;
}
#Hui-userbar .one-ul li .two-ul{

}
#Hui-userbar .two-ul{
    position: absolute;
    display: block;
    overflow: hidden;
    background-color: #fff;
    border: solid 1px #f2f2f2;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 4px;
    z-index: 10;
}
#Hui-userbar .two-ul li{
    width: 100%;
    text-align: center;
    border-bottom: solid 1px #f2f2f2;
    height: 35px;
}
#Hui-userbar .two-ul li a{
    color: black;
    line-height: 35px;

}